/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.jfx-list-cell:selected {
    -fx-background-color: #455A64;
    -fx-text-field: #FFFFFF;
}

.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-background-color: #FFFFFF;
    -fx-pref-height: 50;
}

.jfx-list-cell .jfx-rippler {
    -fx-rippler-fill: BLUE;
}

.jfx-list-cell:hover {
    -fx-background-color: #F3F3F3;
}

.jfx-list-view {
    -fx-background-insets: 0.0;
    -fx-cell-vertical-margin: 10.0;
    -fx-vertical-gap: 10;
    -fx-pref-width: 220;
    -fx-background-color: transparent;
}

.jfx-popup-container {
    -fx-background-color: blue;
}

.tab{
    -fx-background-color: #455A64 ;
}

.tab-header-background{
    -fx-background-color: #455A64 ;
}